*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* contact form css */
.form-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto auto auto auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-mcontainer{
  margin: auto;
  margin: 20px;
}

.contact-form .submit-btn:hover {
  background-color: #0056b3;
}

/* view css */
h2, h3{
  text-align: center;
}
/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table headers */
th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
  text-align: center;


}

/* Alternate row colors */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table cells */
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;

}

/* Style for table cells on small screens */
@media only screen and (max-width: 600px) {
  /* Hide table headers on small screens */
  th {
    display: none;
  }
  /* Display table cells as block elements */
  td {
    display: block;
    text-align: left;
  }
  /* Add some padding between table rows */
  tr {
    margin-bottom: 10px;
  }
}

.edit-button{
  border-radius: 8px;
  background-color: #0056b3;
  padding:8px;
  color: white;
  font-weight: bold;
  border: none;
  width: 130px;

}
.edit-button:hover{
  background-color: green;
  color: white;
}
.add-button{
  border-radius: 8px;
  background-color: green;
  padding:8px;
  color: white;
  font-weight: bold;
  border: none;
  width: 130px;
}
.edit-count{
  border-radius: 8px;
  background-color: purple;
  padding:8px;
  color: white;
  font-weight: bold;
  border: none;
}
.add-p {
  text-align: end;
  margin: 20px;
}
.table-contaner{
  margin: 20px;

}